@font-face {
    font-family: 'VisbyCF';
    src: url('../Resources/fonts/Fontspring-DEMO-visbycf-bold.otf') format('opentype');
    font-weight: 700; /* bold equivale a 700 */
    font-style: normal;
}

@font-face {
    font-family: 'VisbyCF';
    src: url('../Resources/fonts/Fontspring-DEMO-visbycf-boldoblique.otf') format('opentype');
    font-weight: 700;
    font-style: oblique;
}

@font-face {
    font-family: 'VisbyCF';
    src: url('../Resources/fonts/Fontspring-DEMO-visbycf-demibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyCF';
    src: url('../Resources/fonts/Fontspring-DEMO-visbycf-demiboldoblique.otf') format('opentype');
    font-weight: 600;
    font-style: oblique;
}

@font-face {
    font-family: 'VisbyCF';
    src: url('../Resources/fonts/Fontspring-DEMO-visbycf-extrabold.otf') format('opentype');
    font-weight: 800; /* extrabold suele ser 800 */
    font-style: normal;
}

@font-face {
    font-family: 'VisbyCF';
    src: url('../Resources/fonts/Fontspring-DEMO-visbycf-extraboldoblique.otf') format('opentype');
    font-weight: 800;
    font-style: oblique;
}

@font-face {
    font-family: 'VisbyCF';
    src: url('../Resources/fonts/Fontspring-DEMO-visbycf-regular.otf') format('opentype');
    font-weight: 400; /* regular equivale a 400 */
    font-style: normal;
}

@font-face {
    font-family: 'VisbyCF';
    src: url('../Resources/fonts/Fontspring-DEMO-visbycf-light.otf') format('opentype');
    font-weight: 300; /* light equivale a 300 */
    font-style: normal;
}

@font-face {
    font-family: 'VisbyCF';
    src: url('../Resources/fonts/Fontspring-DEMO-visbycf-medium.otf') format('opentype');
    font-weight: 500; /* medium equivale a 500 */
    font-style: normal;
}

@font-face {
    font-family: 'VisbyCF';
    src: url('../Resources/fonts/Fontspring-DEMO-visbycf-thin.otf') format('opentype');
    font-weight: 100; /* thin equivale a 100 */
    font-style: normal;
}


:root{
    --naranja: rgb(222, 118, 71);
    --naranja-focus: rgb(195, 77, 22);
    --amarillo: #fdcb6e;
    --verde: rgb(68, 136, 136);
    --verde-focus: rgb(16, 93, 93);
    --azul: rgb(153, 204, 205);
    --crema: #faf2e9;
    --azul_fuerte: #181e2d;
    --azul_fuerte_focus: #101624;
    --rosa: #f4e3e3;
    --rosa_fuerte: #ff6b81;
    --rosa_fuerte_focus: #ff4c67;
    --gris: #f4f4f4;
    --fondo-claro: #f0ede9;
}

*{
    font-family: 'VisbyCF';
    font-weight: 300;
}

body{
    width: 99%;
    height: 100%;
    background: var(--fondo-claro);
    display: flex;
    justify-content: center;
}

.contenedor{
    width: 600px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .encabezado{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        img{
            width: 40px;
            height: auto;
        }

        h1{
            font-family: 'VisbyCF';
            font-weight:900;
            color: var(--azul_fuerte);
            text-align: center;
        }
    }

    .contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            input{
                
                font-family: Arial;
                box-sizing: border-box;
                padding: 12px;
                border-radius: 7px;
                background-color: transparent;
                border: 2px solid #474950; 
                width: 300px;
            }

            button{
                border-radius: 12px;
                padding: 15px;
                border-style: none;
                max-width: 300px;
                width: 300px;
                color: var(--gris);
                cursor: pointer;
                transition: 0.3s ease;
                font-weight: 500;
                background-color: var(--naranja);
                box-shadow: 0px 5px 10px rgba(70, 70, 71, 0.25); /* Usa RGBA para definir la transparencia */
            }
            button:hover{
                background-color: var(--naranja-focus);
            }

            p{
                font-size: 14px;
                color:#515356;

                a{
                    color: var(--naranja);
                    text-decoration: none;
                }
            }
        }
        .imagen
        {
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            img{
                height:230px;
                width: auto;
            }
        }
    }
}

